#boi {
	z-index: 1;
	position: fixed;
	min-height: 66px;	
	background-color: rgba(35, 148, 216);
	display: inline-grid;
	top: 0;
	right: 0px;
	width: 100%;
	grid-template-columns: 140px auto 140px;
}

#ele {
	position: absolute;
}

#bla {
	position: absolute;
	justify-self: center;
}

#log {
 width: 136px;
 height: 66px;
 left: 0;
}
